<head>
    <script type="text/javascript" src="koda.js"></script>
	<link rel="stylesheet" href="style.css">
	<script src='../../js-libs/iframeResizer.contentWindow.min.js'></script>
    <script src='../../js-libs/jquery-3.4.1.min.js'></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
	<div class="vsebina">
		<div class="content">
			
			<p>S spodnjim pripomočkom lahko množiš dve pozitivni celi števili v poljubni bazi med 2 in 16. Ko si izbral bazo in vtipkal števili pritisneš gumb "Začni!", 
				nato nadaljuješ po korakih z gumbom "Naslednji korak". Koraki, ki se tako izvedejo, so naslednji:</p>
				<li>Prvo število pomnožimo s vsako števko v drugem številu (produkte treba ustrezno zamakniti med njimi);</li>
				<li>Seštejemo vse števke v posameznem stolpcu, začnemo z najbolj desnim stolpcem. Za lažje delo lahko uporabiš gumb "Združi", ki sešteje dve najbolj
					 zgornji vrstici.</li>
			<form id="reset">
				<div>
					<p>Izberi <span class="modul" id="modul">modul</span>:</p>
					<div class="container">
						<div class="range-slider">
					    	<span id="rs-bullet" class="rs-label">2</span>
					    	<input id="rs-range-line" class="rs-range" type="range" value="2" min="2" max="16">
					  	</div>
					  	<div class="box-minmax">
					    	<span>2</span><span>16</span>
					  	</div>
					</div>
				</div>
				<div">
					<p class="vodo" style="margin-left: 5px">Vnesi prvo število</p>
					<input type="text" id="prvo_st" class="vodo" required="required"
							oninvalid="setCustomValidity('Prosim vnesi število.')"
							oninput="setCustomValidity('')"></input>
				</div>
				<div>
					<p class="vodo" style="margin-left: 5px">Vnesi drugo število</p>
					<input type="text" id="drugo_st" class="vodo" required="required"
						oninvalid="setCustomValidity('Prosim vnesi število.')"
						oninput="setCustomValidity('')"></input>
				</div>
				<input type="submit" id="reset" value="Začni!" class="myButton" />
				<div>
					<input type="button" id="next_step" value="Naslednji korak" class="myButton" 
							style="visibility: hidden;"></input>
					<input type="button" id="collapse" value="Združi" class="myButton" style="visibility: hidden;"></input>
				</div>
			</form>
			<div>
				<strong><p id="error" style="text-align: center;"></p></strong>
			</div>
			<div>
				<div class="racunaj">
					<table id="myTable"></table>
				</div>
				<div class="racunaj">
					<p id="helpSum" style="margin: 5px;"> </p>
				</div>
			</div>
		</div>
	</div>
</body>
