body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important; 
}

h1 {
    margin: 12px !important;
}

.btn {
    background-color:#afeeee !important;
}
#button_base {
    float:right;
}



#base {
    width: 70px;
    border: 1px solid #b5b5b5;
    border-radius: 5px;
    text-align: center;
    margin-left:10px;
}

#base:focus {
    outline:none;
    border: 1.5px solid -webkit-focus-ring-color;
    border-radius: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

#chart{
    padding-right:50px;
}

#P_container {
    background-color: #ffcccc;
    padding:5px;
    text-align: center;
    height:35px;
}

#Q_container {
    background-color: #ffff99;
    padding:5px;
    text-align: center;
    height:35px;
    
}

#R_container {
    background-color: 	#98FB98;
    padding:5px;
    text-align: center;
    height:35px;
}

.explanation {
    background-color: #effbfb;
    padding: 5px;
}

.center {
    text-align: center;
}


/* .delete{
    position: absolute;
    float:right;
} */

