<head>
	<script type="text/javascript" src="poskusi.js"></script>
	<script src='../../js-libs/iframeResizer.contentWindow.min.js'></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<style type="text/css">
		* { 
    		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
  			}
  
  		body {
    		height: auto !important;
  		}
    	.vodo {
    		display: inline-block;
    	}
    	.vodoTb{
    		display: inline-block;
    	}
    	table {
    		text-align: center;
    		border-collapse: collapse;
    		margin-top: 10px;
    		white-space:pre-wrap; 
    		word-wrap:break-word;
    		margin-right: 10px;
    		margin-left: 10px;
    	}
    	.skupi {
    		margin-left: 2%;
    	}
    	.poskusi {
    		border-width:2px;
			border-style:solid;
			margin-top: 20px;
			width: 300px;
			height: 210px;
			background-color: #5CE9E9;
			/*position: absolute;
			display: block;*/
    	}
    	.slikaWrong {
    		display: inline-block;
    		margin-top: 10px;
    		margin-left: 90px;
    		margin-bottom: 10px;
    		height: 50px;
    		width: 50px;
    		border-width: 1px;
    		border-style: solid;
    		border-color: black;
    		background-color: white;
    	}
    	.slikaOK {
    		display: inline-block;
    		margin-top: 10px;
    		float: right;
    		margin-right: 106px;
    		margin-bottom: 10px;
    		height: 50px;
    		width: 50px;
    		border-width: 1px;
    		border-style: solid;
    		border-color: black;
    		background-color: white;
    	}
    	.mrg{
    		margin: 20px;
    	}
    	.myButton {
			-moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
			-webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
			box-shadow:inset 0px 1px 0px 0px #54a3f7;
			background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #004a61), color-stop(1, #0061a7));
			background:-moz-linear-gradient(top, #004a61 5%, #0061a7 100%);
			background:-webkit-linear-gradient(top, #004a61 5%, #0061a7 100%);
			background:-o-linear-gradient(top, #004a61 5%, #0061a7 100%);
			background:-ms-linear-gradient(top, #004a61 5%, #0061a7 100%);
			background:linear-gradient(to bottom, #004a61 5%, #0061a7 100%);
			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#004a61', endColorstr='#0061a7',GradientType=0);
			background-color:#004a61;
			-moz-border-radius:3px;
			-webkit-border-radius:3px;
			border-radius:3px;
			border:1px solid #124d77;
			display:inline-block;
			cursor:pointer;
			color:#ffffff;
			font-family:Arial;
			font-size:10px;
			padding:3px 10px;
			text-decoration:none;
			text-shadow:0px 1px 0px #002e66;
		}
		.myButton:hover {
			background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #004a61));
			background:-moz-linear-gradient(top, #0061a7 5%, #004a61 100%);
			background:-webkit-linear-gradient(top, #0061a7 5%, #004a61 100%);
			background:-o-linear-gradient(top, #0061a7 5%, #004a61 100%);
			background:-ms-linear-gradient(top, #0061a7 5%, #004a61 100%);
			background:linear-gradient(to bottom, #0061a7 5%, #004a61 100%);
			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#004a61',GradientType=0);
			background-color:#0061a7;
		}
		.myButton:active {
			position:relative;
			top:1px;
		}
        * { 
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
        }
    </style>
</head>
<body>
	<div class="skupi">
		<form id="forma">
            <div>
    			<p class="vodo">Vnesi n</p>
    			<input type="text" id="n" pattern="^[0-9]{1,}$" required="required" 
                    oninvalid="setCustomValidity('Prosim vstavi podatek zahtevane oblike.')" 
                    oninput="setCustomValidity('')"
                    value="12"></input>
    			<input type="submit" value="Začni!" id="reset" class="myButton">
    		</div>
        </form>
	<div class="poskusi" id="poskusi">
		<div>
			<strong>
				<p class="vodo" style="font-family:georgia,garamond,serif;font-size:13px;font-style:italic;">Poskusi ti!</p>
			</strong>
            
			<input type="button" value="Generiraj!" id="rand" class="myButton"></input>
            </br>
            <p class="vodo" style="font-family:georgia,garamond,serif;font-size:13px;font-style:italic;" id="trenutniModul"></p>
		</div>
		<div>
            <form id="form">
    			<strong>
    				<p id="racun" class="vodo" style="font-family:georgia,garamond,serif;font-size:13px;font-style:italic;"></p>
    			</strong>
    			<input type="text" id="vnesiRez" pattern="[-]?[0-9]+" class="vodo"></input>
    			<input type="submit" value="Preveri!" class="myButton"></input>
            </form>
		</div>
		
		<div>
			<div class="slikaWrong">
				<img src="napacno.png" width="50px" height="50px" id="nok">
			</div>
			<div class="slikaOK">
				<img src="pravilno.png" width="50px" height="50px" id="ok">
			</div>
		</div>
	</div>
</div>
</body>