<head>
<meta charset="utf-8">
<script src='../../js-libs/iframeResizer.contentWindow.min.js'></script>
</head>






<textarea oninput="sl()" rows="7" cols="50" name=sl style="font-size:16px" placeholder="Prostor za slovensko gajico">Slovenska abeceda kot je znana sedaj ima 25 latiničnih črk. Slovenska abeceda se imenuje tudi slovenska gajica.

A B C Č D E F G H I J K L M N O P R S Š T U V Z Ž
a b c č d e f g h i j k l m n o p r s š t u v z ž</textarea><br>

<!-- <button onClick="converto()">Zamenjaj črke</button><br> -->

<textarea oninput="ru()" rows="7" cols="50" name=ru style="font-size:16px" placeholder="Prostor za rusko cirilico"></textarea><br>
<textarea oninput="sr()" rows="7" cols="50" name=sr style="font-size:16px" placeholder="Prostor za srbsko cirilico"></textarea><br>
<textarea oninput="gl()" rows="7" cols="60" name=gl style="font-size:18px" placeholder="Prostor za glagolico"></textarea><br>


<script src="pretvornik.js" charset="utf-8" ></script>