<head>
    <script type="text/javascript" src="koda.js"></script>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<script src='../../js-libs/iframeResizer.contentWindow.min.js'></script>
</head>
<body>
	<p><strong>Postopek množenja s metodo ruskih kmetov:</strong></br> 
		v prvo vrstico zapišemo števili, ki želimo množiti, v prvo vrstico tabele z dvemi stolpci. V naslednjih korakih število 
		v levem stolpcu delimo z 2, tisto v desnem pa množimo z dva in rezultat zapišemo pod ustreznim številom. Nadaljujemo dokler 
		je število na levi večje od 1. Nato prečrtamo vse vrstice, ki imajo v levem stolpcu sodo število. Nazadnje seštejemo 
		vsa števila iz desnega stolpca, ki nismo prečrtali. </p>
	<p><strong>Opazki:</strong></p> 
	<li>Dana metoda je posebno primerna, če uporabljamo kot osnovo mnogokratnik števila dva (na ta način, zato da ugotovimo, če 
	    je število sodo ali liho, je dovolj da opazujemo, če je zadnja števka soda ali liha);
	</li>
	<li>Metoda je še posebej primerna, če uporabljamo bazo 2, saj ko v dvojiški bazi množimo z 2, moramo samo na koncu števila 
	    dodati eno ničlo (podobno kot v domačem desetiškem sistemu, ko množimo z deset, dodamo eno ničlo na konec števila), ko 
	    pa celoštevilsko delimo s 2, moramo samo odstraniti najbolj desno števko. Če je desna števka enaka 0, je število sodo, 
	    v nasprotnem primeru pa je število liho.
	</li>
	<input type="range" min=2 max=16 id="modul" name="modul" onchange="trenutnaBaza.innerHTML=this.value;"></input>
	<p id="trenutnaBaza">9</p>
	<p id="izpisiModul"></p>
	<p>Vnesi prvo stevilo</p>
	<input type="text" id="prvo_st"></input>
	<p>Vnesi drugo stevilo</p>
	<input type="text" id="drugo_st" value=""></input>
	<input type="button" id="next_step" value="Naslednji korak"></input>
	<input type="button" id="reset" value="reset"/>
	<p id="error"></p>
	<table id="myTable" border=1 frame=void rules=rows></table>
	<p id="rezultat"></p>
	<p id="vrednost">Tukaj se izpiše desetiška vrednost števil...</p>
</body>