html * { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
p{
    font-size: 14px;
    display: inline-block;
    margin-right: 6px;
    font-weight: bold;

}
p#messageError{
    font-size: 20px;
    color: red;
}
P#messageError2{
    font-size: 16px;
}
button{
    border:none;
    text-align: center;
    cursor: pointer;
    background-color: #28B677;
    color: white;
    height: 20px;
    border-radius: 2px;
}
button#sifButton{
    margin-top: 40px;
}
input{
    padding: 4px 4px;
    box-sizing: border-box;
    border: none;
    width: 60px;
    background-color: #28B677;
    border-radius: 2px;
    color: white;
}
input[type=text]{
    width: 260px;
}
textarea{
    background-color: azure;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #28B677;
    border-radius: 4px;
    margin-bottom: 20px;
    vertical-align: top;
}
table{
    text-align: center;
    margin-top: 20px;
}
div #firstDiv, #secondDiv, #thirdDiv, #fourthDiv{
    display: inline-block;
    margin-bottom: 20px;
}
div #t1Div, #t2Div{
    float: left;
}
div #f1Div, #f2Div{
    float: left;
}
h1{
    margin: 0px;
    color: #28B677;
}